include injectlib/libs/dotnet/x86/bootstrap.dll
include injectlib/libs/dotnet/x86/Newtonsoft.Json.dll
include injectlib/libs/dotnet/x86/worker_wpf.dll

include injectlib/libs/dotnet/x64/bootstrap.dll
include injectlib/libs/dotnet/x64/Newtonsoft.Json.dll
include injectlib/libs/dotnet/x64/worker_wpf.dll


include injectlib/libs/hook/x86/pywinmsg32.dll
include injectlib/libs/hook/x86/pywinmsg32u.dll

include injectlib/libs/hook/x64/pywinmsg64.dll
include injectlib/libs/hook/x64/pywinmsg64u.dll
